html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	align-items: center;
	justify-content: flex-start; 
	background-color: #B51621;
	padding: 0 2rem;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	color: white;
	position: sticky;
	top: 0;
	z-index: 100;
	height: 100px;
	gap: 30px;
}

.new-glossary {
	margin-left: 1150px;
}

.header-left {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	height: 100%;
}

.header-left .logo {

	width: 70px; /* réduit un peu pour l’alignement visuel */
	height: auto;
	object-fit: contain;
	display: block;        

}

.header-left .app-name {
		font-size: 2rem;
	font-weight: 700;
	color: white;
	margin: 0;
	line-height: 1;
	display: flex;
	align-items: center;
}

.separator {
	width: 2px;
	height: 70px; 
	background-color: white;
	margin: 0 1.5rem;
}


.nav {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	margin-left: 1rem; 
}

.nav a {
	color: white;
	text-decoration: none;
	font-weight: 800;
	font-size: 1.5rem;
	padding-top: 6px;
	transition: color 0.2s, border-bottom 0.2s;
}



.nav a {
	border-bottom: 2px solid #B51621;
}


.header-button {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.header-left .app-name,
.nav a,
.new-glossary {
	font-family: 'Inter';
}




@media (max-width: 640px) {
	.header {
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
	}

	.separator {
		display: none;
	}

	.nav {
		gap: 1rem;
	}
}
