.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	display: flex;
	width: 708px;
	max-width: 960px;
	padding: 32px 48px;
	flex-direction: column;
	border-radius: 16px;
	background: #FFF;
	box-sizing: border-box;
	gap: 1rem;
}

.modal-content h2 {
	font-size: 32px;
	font-weight: 700;
	color: #0D141C;
	width: 100%;
	margin: 0;
}


.modal-form {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
}

.modal-content label {
	font-weight: 600;
	color: black;
	font-size: 16px;
}

.input-name-container{
	width: 65%;
}

.input-name {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}


.textarea-description {
	width: 100%;
    height: 120px; 
    box-sizing: border-box;
    resize: none;
}

.char-counter {
	padding-top: 5px;
	width: 97%;
    text-align: left;
    font-size: 12px;
    color: #888;
}

.modal-actions {
	display: flex;
	justify-content: flex-end;
	gap: 12px;
	width: 100%;
	margin-top: auto; 
}

.modal-actions button {
	padding: 0.9rem 1.6rem;
	border-radius: 8px;
	border: none;
	font-weight: 600;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.2s;
}

.modal-actions .close-btn {
	background-color: #888;
	color: white;
}

.modal-actions .close-btn:hover {
	background-color: #555;
}

.modal-actions .add-btn {
	background-color: #b32134;
	color: white;
}

.modal-actions .add-btn:hover {
	background-color: #921b2a;
}

.name-label{
	padding-bottom: 8px;
}

.description-label {
	padding-top: 8px;
	padding-bottom: 8px;
}

.glossary-required {
	color: #e63946;
	margin-left: 2px;
	font-size: 20px;
}