.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal {
	display: flex;
	width: 960px;
	max-width: 960px;
	padding: 12px 48px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border-radius: 16px;
	background: #FFF;
}

.modal h2 {
	color: #0D141C;
	font-feature-settings: 'dlig' on;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
}

label {
	font-weight: 600;
	color: black;
	font-size: 16px;
}

.input-container {
    width: 50%;
}

.word-area, .definition-area {
	width: 100%;
	height: 50px;
	padding: 15px;
	border-radius: 8px;
	border: 2px solid #ddd;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	outline: none;
	transition: border-color 0.2s, background-color 0.2s;
	background-color: white;
	color: #000; 
    box-sizing: border-box;
}

.word-label {
	padding-bottom: 8px;
}

.definition-label {
	margin-top: 18px;
	padding-bottom: 8px;
}

.definition-area {
	height: 120px;
    resize: none;
}

.char-counter {
    text-align: left;
    font-size: 12px;
    color: #888;
}

.required {
	color: #e63946;
	margin-left: 2px;
	font-size: 20px;
}

.input-error {
	border-color: #e63946;
}

.error-text {
	color: #e63946;
	margin: 0; 
	line-height: 1; 
}

.attention{
	display: flex;
	align-items: center;
	gap: 0.3rem;
	padding-top: 6px;
}

.attention img {
	width: 18px;
	height: 18px;
	display: block; 
}

.modal-actions {
	display: flex;
	padding: 12px 16px;
	justify-content: flex-end;
	align-items: center;
	gap: 12px;
	align-self: stretch;
}

.cancel-btn,
.submit-btn {
	border: none;
	border-radius: 8px;
	padding: 0.8rem 1.4rem;
	cursor: pointer;
	font-weight: 600;
}

.cancel-btn {
	background-color: #888;
	color: white;
}

.cancel-btn:hover {
	background-color: #555;
}

.submit-btn {
	background-color: #b32134;
	color: white;
}

.submit-btn:hover {
	background-color: #921b2a;
}